<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>已点订单</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <meta content="320" name="MobileOptimized">
    <!--Start Style -->
    <link href="orderStatic/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="orderStatic/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="orderStatic/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="orderStatic/css/icofont.min.css" rel="stylesheet" type="text/css">
    <link href="orderStatic/css/style.css" rel="stylesheet" type="text/css">
</head>


<body>
<div class="loader">
    <div class="spinner">
        <img alt="" src="static/picture/loader.gif">
    </div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
    <!-- Header Start -->
    <div th:replace="hearder.html::header"></div>
    <!-- Sidebar Start -->
    <div th:replace="side.html::aside"></div>
    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box ad-title-box-use">
                            <h4 class="page-title">已点订单</h4>
                        </div>
                        <div class="ad-breadcrumb">
                            <ul>
                                <li>
                                    <div class="ad-user-btn">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="搜索订单..." style="width: 200px;"
                                                   type="text"/>
                                            <div class="input-group-append">
                                                <button class="input-group-addon search-btn" style="margin-top: 5px !important;
                                                    background-color: white;width: 50px !important;" type="button"><i
                                                        class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table Start -->
            <div class="row">
                <!-- Styled Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card table-card">
                        <div class="card-header pb-0">
                            <h4>已点菜单</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-holder">
                                <div class="table-responsive">
                                    <table class="table table-styled mb-0">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>图片</th>
                                            <th>菜名</th>
                                            <th>下单日期</th>
                                            <th>状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="order,orderStat : ${orderList}">
                                            <td th:text="${orderStat.index + 1}"></td>
                                            <td>
                                                        <span class="img-thumb">
                                                            <img alt=""
                                                                 onerror="this.src='static/images/images.jpg'" th:src="'static/' + ${order.getMname()} + '.jpg'">
                                                        </span>
                                            </td>
                                            <td th:text="${order.getMname()}">
                                            </td>
                                            <td th:text="${order.getDateString()}"></td>
                                            <td>
                                                <label class="mb-0 badge badge-primary" th:text="${order.getMstatus()}"
                                                       title="Pending"></label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Color Setting -->
<!-- Script Start -->
<script src="orderStatic/js/jquery.min.js"></script>
<script src="orderStatic/js/popper.min.js"></script>
<script src="orderStatic/js/bootstrap.min.js"></script>
<script src="orderStatic/js/custom.js"></script>
</body>

</html>